myjenkinspractise/src/main/mule/myjenkinspractise.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="16ce1d56-519a-4fd2-a3fe-cade0e3a8d18" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="myjenkinspractiseFlow" doc:id="c9e9e50e-ecbe-42e9-aa9e-d1ce39e2842a" >
		<http:listener doc:name="Listener" doc:id="43a82f25-5faf-4756-a103-ca53c683168f" config-ref="HTTP_Listener_config" path="/practise"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ca4b2725-c7a3-4f5c-b3d4-c6eef2d6338c" />
	</flow>
</mule>
