jenkins-github-demo/src/main/mule/jenkins-github-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c8e97c72-7360-4a19-b758-1e116c3e8307" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkins-github-demoFlow" doc:id="3cd11c81-5482-4111-b4a3-428fe851d64b" >
		<http:listener doc:name="Listener" doc:id="575a71c4-fd7f-4414-a9ce-964b560c8064" config-ref="HTTP_Listener_config" path="/employees"/>
		<set-payload value="payload has been changed" doc:name="Set Payload" doc:id="1db9cb84-2bce-4950-bb0c-b6531a4a9515" />
		<logger level="INFO" doc:name="Logger" doc:id="ac8f6454-d3eb-49bd-b524-44bcf73f27db" message="#[payload]"/>
	</flow>
</mule>
